body{
    margin: 0;
    background-color: #222222;
}

.rightToolbarContainer{
    float: right;
    width: 280px;
    height: 100%;
    background-color: #262626;
    display: block;
    border-left: solid 1px #517583;
    padding: 200px 10px 0px;
}

#usedColors{
    width: 260px;
    margin: auto;
}

.usedColor{
    margin: 2px;
    width: 15px;
    height: 15px;
    display: inline-block;
}